<%- include('header') -%>

<h1>About</h1>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum sunt enim
  nulla excepturi blanditiis beatae fugiat non iste, unde veritatis quisquam
  quasi quidem vero, aut in labore eum, hic dolor?
</p>

<%- include('footer') -%>
